name: Build Freeze Release with PyInstaller and fpm

on: push

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python 3.9
        uses: actions/setup-python@v3
        with:
          python-version: "3.9"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install PyInstaller
          # if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Build with PyInstaller
        run: pyinstaller pyinstaller.spec --noconfirm
